/* =Variables
-------------------------------------------------------------- */
$base-font-size: 16px;
$base-body-color: #fff;
$icon-color: $blue;
$primary-font-color: $dark-gray;
$grey: #ededed;
$link-color: #f00;
$shadow: rgba(0, 0, 0, .6);
