fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;

}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
  display: block;
}

#{$all-text-inputs},
select[multiple], select, select option {
  background-color: rgba(#00a9e0, 0.2);
  color: #7fd3ef;
  border: none;
  height: 28px;
  line-height: 28px;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box;
  padding: 0 10px;
  transition: background-color $base-duration $base-timing;
  width: 100%;
  font-family: $nunito;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 0.1em;
  width: 100%;
    text-transform: uppercase;
  @include placeholder {
    color: #7fd3ef;   
    text-transform: uppercase;
  }
  &:hover {
  }

  &:focus {
    background-color: rgba(#00a9e0, 0.15);
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: none;
  line-height: 1.5em;
  padding: 12px 20px;
  height: 150px;
  font-size: 13px;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  max-width: 100%;
  width: 100%;
  border-radius: 0;
}
[type="submit"] {
  background: $turquoise;
  border-radius: 0;
  border:none;
  font-family: $biryani;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  height: 33px;
  line-height: 38px;
  padding: 0 30px;
  min-width: 0;
}

