header {
    position: fixed;
    z-index:9999;
    top: 0;
    right: 0;
    left: 0;
    
    #primary-nav {
        position: absolute;
        right: 55px;
        top: 40px;
        .nav-toggle-button {
            position: absolute;
            top: 0;
            right: -5px;
            width: 37px;
            z-index: 99999;
            cursor: pointer;
            @include transition(opacity 0.3s);
            &:hover {
                opacity:0.7;
            }
            &:before, &:after, span.nav-toggle-icon {
                display: block;
                height: 4px;
                width: 100%;
                background: $wheat;
                border-radius: 8px;
                margin-bottom: 7px;
                @include transition(all 0.3s);
            }
            &:before, &:after {
                content: '';
            }

            .menu-label {
                display: block;
                font-family: $ps-soft;
                text-transform: uppercase;
                font-size: 10px;
                font-weight: 800;
                letter-spacing: 0.275em;
                line-height: 1em;
                color: $wheat;
                text-align: justify;
                position: absolute;
                bottom: -10px;
                white-space: nowrap;
            }
        }
        .sidenav {
            z-index: 99998;
            width: 348px;
            top: 0;
            bottom: 0;
            right:-200%;
            padding: 110px 55px 0 30px;
            @media all and (max-width: 736px) {
                padding: 30px 60px 0 30px;
            }
            position: fixed;
            background: $dark-gray;
            @include transition(right 0.3s);
            .download-pdf {
                margin: 40px 0 0;
                @media all and (max-width: 736px) {
                    margin: 20px 0 0;
                }
                a {
                    font-family: $biryani;
                    text-transform: uppercase;
                    font-size: 11px;
                    font-weight: 900;
                    letter-spacing: 0.08em;
                    line-height: 1.3em;
                    color: $wheat;
                    text-decoration: none;
                    @media all and (max-width: 736px) {
                        font-size: 10px;
                    }
                    &:after {
                         content:'';
                         width: 10px;
                         height: 15px;
                         background: url('../images/sprites.svg') 0 -760px no-repeat;
                         display: inline-block;
                         margin: 0 0 0 8px;
                         position: relative;
                         bottom: -3px;
                    }
                    &:hover {
                        color: $turquoise;
                        &:after {
                            background: url('../images/sprites.svg') 0 -780px no-repeat;
                        }
                    }
                  
                }
            }
            ul {
                li {
                    color: $turquoise;
                    font-family: $biryani;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 900;
                    letter-spacing: 0.08em;
                    line-height: 1.3em;
                    border-bottom: 1px solid $turquoise;
                    padding: 15px 0px 10px 0;
                    @media all and (max-width: 736px) {
                        font-size: 12px;
                    }

                    a {
                        color: $wheat;
                        font-size: 11px;
                        text-decoration: none;
                        display: block;
                        @include transition(0.3s color);
                        @media all and (max-width: 736px) {
                            font-size: 10px;
                        }
                    }
                    &:first-child {
                        padding-top: 0;
                    }
                    &:nth-child(2) {
                        a:hover, a:focus  {
                            color: #00ac6c;
                        }
                    }
                    &:nth-child(3) {
                        a:hover, a:focus  {
                            color: #855a9e;
                        }
                    }
                    &:nth-child(4) {
                        a:hover, a:focus  {
                            color: #3069b3;
                        }
                    }
                    &:nth-child(5) {
                        a:hover, a:focus  {
                            color: $gold;
                        }
                    }
                    &:nth-child(6) {
                        a:hover, a:focus  {
                            color: $teal;
                        }
                    }
                }
            }
        }
        &.open {
            .sidenav {
                right: 0;
            }
            .nav-toggle-button {
                span {
                    opacity: 0;

                }
                &:before {
                    @include transform(rotate(45deg));
                    position: absolute;
                    top: 50%;
                }
                &:after {
                    @include transform(rotate(-45deg));
                    position: absolute;
                    top: 50%;
                }
            }
        }
        
    }
}
body.home {
    header{
        background: none;
        height: auto;
         #mini_logo.home {
            position: absolute;
            left: 50px;
            top: 40px;
            text-indent: -99999px;
            a {
                display: block;
                width: 24px;
                height: 56px;
                background: url(../images/sprites.svg) 0 0 no-repeat;
                outline: none;
                @include transition(opacity 0.3s);
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        #mini_logo.not_home {
            display: none;
        }
    }
}
body:not(.home) {
    header#masthead  {
        background: $turquoise;
        height: 54px;
        text-align: center;
        padding: 13px 0 0;
        box-shadow: 2px 2px 12px 1px rgba(#000,0.3);
        @media all and (max-width: 480px) {
            text-align: left;
            padding: 13px 20px 0;
        }

        #mini_logo.home {
            display: none;
        }
        #mini_logo {
            display: inline-block;
            a {
                display: inline-block;
                border: 2px solid $orange;
                border-radius: 1px;
                color: $wheat;
                font-family: $biryani;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 0.175em;
                height:28px;
                line-height: 28px;
                padding: 0 10px;
                text-decoration: none;
                span {
                    font-weight: 400;
                    font-size: 0.65em;
                    position: relative;
                    top: -1px;
                    margin: 0 2px;
                }
                @media all and (max-width: 800px) {
                    font-size:10px;
                }
                @media all and (max-width: 480px) {
                    font-size:9px;
                    padding: 0 7px;
               }

            }
        }
       #primary-nav {
            text-align: left;
            position: absolute;
            right: 40px;
            top: 20px;
            @media all and (max-width: 800px) {
                right: 20px;
            }
            .nav-toggle-button {
                width: 22px;
                right: 0;
                .menu-label {
                    display: block;
                    font-family: $ps-soft;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 800;
                    letter-spacing: 0.25em;
                    line-height: 10px;
                    color: rgba($wheat,0.6);
                    position: absolute;
                    top: 2px;
                    left: -50px;
                    bottom: auto;
                    white-space: nowrap;
                }
                &:before, &:after, span.nav-toggle-icon {
                    height: 2px;
                    border-radius: 4px;
                    margin-bottom: 4px;
                }   
            }
            &.open .nav-toggle-button{
                top: 0;
            }
        }
    }

}
@media all and (max-width: 800px) {
    body.home {
        header{
            background: $turquoise;
            height: 54px;
            box-shadow: 2px 2px 12px 1px rgba(#000,0.3);
             #mini_logo.home {
                position: absolute;
                left: 20px;
                top: 7px;
                text-indent: -99999px;
                a {
                    display: block;
                    width: 18px;
                    height: 42px;
                    background: url(../images/sprites.svg) 0 0 no-repeat;
                    background-size: 170px auto;
                }
            }
           #primary-nav {
                text-align: left;
                position: absolute;
                right: 20px;
                top: 20px;

                .nav-toggle-button {
                    width: 22px;
                    right: 0;
                    .menu-label {
                        display: block;
                        font-family: $ps-soft;
                        text-transform: uppercase;
                        font-size: 10px;
                        font-weight: 800;
                        letter-spacing: 0.25em;
                        line-height: 10px;
                        color: rgba($wheat,0.6);
                        position: absolute;
                        top: 2px;
                        left: -50px;
                        bottom: auto;
                        white-space: nowrap;
                    }
                    &:before, &:after, span.nav-toggle-icon {
                        height: 2px;
                        border-radius: 4px;
                        margin-bottom: 4px;
                    }   
                }
                &.open .nav-toggle-button{
                    top: 0;
                }
            }
        }
    }
   
}