.page-content {
	max-width: 1000px;
	margin: auto;
	position: relative;
	padding-bottom: 100px;
	@media all and (max-width: 736px) {
		padding-bottom: 50px;
	}
	.pre-header {
		h1 {
			font-family: $nunito;
			font-weight: 400;
			font-size: 30px;
			line-height: 1.2em;
			font-style: italic;
			border-bottom: 2px solid $orange;
			padding: 0 0 10px;
			span {
				font-family: $biryani;
	            font-weight: 900;
	            text-transform: uppercase;
	            font-size: 19px;
	            letter-spacing: 0.1em;
				font-style: normal;
				@media all and (max-width: 736px) {
					font-size: 16px;
				}

			}
			@media all and (max-width: 736px) {
				font-size: 20px;
			}

		}
	}
	.page-header {
		h1 {
			font-size: 30px;
			border-bottom: 2px solid $orange;
			padding: 0 0 15px;
			font-family: $biryani;
            font-weight: 900;
            letter-spacing: 0.1em;
            text-transform: uppercase;
			@media all and (max-width: 736px) {
				font-size: 20px;
			}
		}
	}
	.callout {
		font-family: $rs;
		font-size: 30px;
		color: $navy;
		line-height: 1.5em;
	    letter-spacing: 0.015em;
	    margin: 40px 0 50px;
	    @media all and (max-width: 736px) {
	    	font-size: 18px;
	    	line-height: 1.4em;
	    	margin: 20px 0 30px;
	    }

	}
	h2 {
		font-family: $biryani;
		color: $turquoise;
		font-weight: 900;
		font-size: 16px;
		line-height: 1.2em;
        letter-spacing: 0.1em;
        margin: 0 0 20px;
        @media all and (max-width: 736px) {
        	font-size: 14px;
        	margin: 0 0 10px;
        }

	}
	.cols {
		@media all and (min-width: 801px) {
			@include column-count(2);
			@include column-gap(30px);
			@include column-rule(none);
			 -webkit-column-count: 2;
			 -webkit-column-gap: 30px;
		 }
		p, ul {
			font-size: 18px;
			line-height: 1.6em;
			margin: 0 0 20px;
			@media all and (max-width: 736px) {
				font-size: 14px;
			}
			li {
				margin-left: 30px;
			}
		}


	}
	.content-container {
		margin: 50px 0 0;
		@media all and (max-width: 736px) {
			margin: 30px 0 0;
		}
		p {
			font-size: 21px;
			line-height: 1.6em;
			margin: 0 0 35px;
			@media all and (max-width: 736px) {
				font-size: 16px;
				margin: 0 0 20px;
			}
		}
	}
}
.breadcrumb {
	margin: 0 0 60px;
	span {
		color: rgba(#303230, 0.5);
		font-family: $biryani;
		font-weight: 900;
		font-size: 10px;
		text-transform: uppercase;
		line-height: 16px;
        letter-spacing: 0.1em;
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding: 0 0 0 15px;
        &:before {
        	content:'';
        	display: block;
        	width: 8px;
        	height: 13px;
			background: url(../images/sprites.svg) 0 -860px no-repeat;
			position: absolute;
			left: 0;
			top: 0;
        }

	}

}
.get-involved {
	section {
		border-top: 1px solid $blue;
		padding: 60px 20px 50px 0;
		&:first-of-type {
			border:none;
			padding-top: 50px;
		}
		h2 {
			font-size: 18px;
			margin: 0 0 5px;

		}
		p {
			font-size: 19px;
			line-height: 1.6em;
		}
		@media all and (max-width: 736px) {
			h2 {
				font-size: 15px;
			}
			p {
				font-size: 14px;
			}
		}
	}
}
.frm_forms {
	padding-top: 20px;
}
form.frm-show-form {
	fieldset {
		margin: 0 -6px;
	}
	.frm_hidden {
		display: none;
	}
	.form-field {
		width: 100%;
		padding: 0 6px 20px;
		&.frm_none_container {
			label {
				display: none;
			}
		}
		&.frm_inline {
			float: left;
		}
		&.frm_sixth  {
			width: calc( 100% / 6 );	
		}
		&.frm_third {
			width: calc( 100% / 3 );	
		}
		&.frm_two_thirds {
			width: calc( 100% * ( 2 / 3 ) );	
		}
		&.frm_half {
			width: 50%;
		}
		&.last {
			padding-bottom: 0;
		}
		&.frm_dropdown {
			position: relative;
			&:after {
				content: '';
				display: block;
				top: 13px;
				right: 20px;
				width: 11px;
				height: 7px;
				background: url(../images/sprites.svg) 0 -800px no-repeat;
				z-index: 999;
				position: absolute;

			}
		}
		textarea {
			width: calc( 66.67% - 10px);	
			font-size: 13px;
			text-transform: none;
		}
		select {
			text-transform: uppercase;
			border-radius: 0;
			-webkit-appearance: none;
			font-family: $nunito;
			font-weight: 800;
			font-size: 13px;
			letter-spacing: 0.1em;

		}

	}
	.frm_submit {
		position: relative;
		.frm_button_submit {
			position: absolute;
			left: 66.67%;
			top: -33px;
		}

	}
	.frm_primary_label {
		color: $turquoise;
		font-family: $nunito;
		font-size: 19px;
		line-height: 1.5;
		font-style: italic;
		letter-spacing: 0.01em;
		font-weight: 400;
		padding-bottom: 25px; 
		margin:0;
	}
	@media all and (max-width: 736px) { 
		.form-field {
			&.frm_inline {
				float: none;
			}
			&.frm_sixth, &.frm_third, &.frm_two_thirds, &.frm_half {
				width: 100%;
			}
			&.last {
				padding-bottom: 20px;
			}
			textarea {
				width: 100%;	
			}
		}
		.frm_submit {
			position: relative;
			.frm_button_submit {
				position: relative;
				left: 6px;
				top: 0;
			}

		}

	}

}
.frm_message {
	p {
		color: $turquoise;
		font-family: $nunito;
		font-size: 19px;
		line-height: 1.5;
		font-style: italic;
		letter-spacing: 0.01em;
		font-weight: 400;
		padding-bottom: 25px; 
		margin:0;

	}
}