body.page-template-template-practice {
	header#masthead {
		display: none;
	}
	.hero-panel{
		width: 100%;
		min-height: calc(100vh - 50px);
		background-color: $wheat;
		position: relative;		
		background-image: url('../images/public-health_hero.jpg');
		background-position: center 10% ;
		background-size: cover;
		background-color:$green;
		background-blend-mode: multiply;
		filter:opacity(0.9);
		&:before {
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			background-color: $green;
			opacity: 0.5;
		}
		&.purple {
			background-image: url('../images/wellbeing_hero.jpg');
			background-position: center 10% ;
			background-size: cover;
			background-color:$purple;
			background-blend-mode: overlay;
			&:before {
				background-color: $purple;
				opacity: 0.6;
			}

		}
		&.navy {
			background-image: url('../images/crime-survivors_hero.jpg');
			background-position: center 10% ;
			background-size: cover;
			background-color:$navy;
			background-blend-mode: multiply;
			&:before {
				background-color: $navy;
				opacity: 0.4;
			}

		}
		&.gold {
			background-image: url('../images/breaking-cycle_hero.jpg');
			background-position: center 10% ;
			background-size: cover;
			background-color:$gold;
			background-blend-mode: multiply;
			&:before {
				background-color: $gold;
				opacity: 0.6;
			}

		}
		&.teal {
			background-image: url('../images/system_hero.jpg');
			background-position: center 10% ;
			background-size: cover;
			background-color:$teal;
			background-blend-mode: multiply;
			&:before {
				background-color: $teal;
				opacity: 0.5;
			}

		}

		.hero-panel-nav {
			position: absolute;
			z-index: 9999;
			top: 0;
			left: 0;
			right: 0;
			padding: 15px 0 0;
			text-align: center;
			.home_link {
				display: inline-block;
				@media all and (max-width: 768px) {
					margin-top: 34px;
				}

				a {
					display: inline-block;
					border: 2px solid $orange;
					border-radius: 1px;
					color: $wheat;
					font-family: $biryani;
					font-weight: 900;
					text-transform: uppercase;
					font-size: 12px;
					letter-spacing: 0.175em;
					height:28px;
					line-height: 28px;
					padding: 0 10px;
					text-decoration: none;
					@include transition(0.3s color);
					span {
						font-weight: 400;
						font-size: 0.65em;
						position: relative;
						top: -1px;
						margin: 0 2px;
					}
					@media all and (max-width: 768px) {
						font-size: 11px;
					}
					&:hover {
						color: rgba($wheat, 0.7);
					}

				}
			}
		}
		.panel_content {
			min-height: 100vh;
			padding: 50px 0 140px;
			max-width: 700px;
			margin: auto;
			@include display(flex);
			@include align-content(center);
			@include flex-wrap(wrap);
			position: relative;
			@media all and (max-width: 736px) {
				padding: 100px 20px;
				text-align: center;
			}
			> div {
				width: 100%;
				@include align-self(center);
				color: $wheat;
			}
			.practice_title {
				border: 4px solid $wheat;
				font-family: $biryani;
				font-weight: 900;
				text-transform: uppercase;
				font-size: 27px;
				line-height: 65px;
				height: 65px;
				letter-spacing: 0.125em;
				border-radius: 4px;
				text-align: center;
				@media all and (max-width: 736px) {
					font-size: 16px;
					border-width: 3px;
					line-height: 1.2em;
					height: auto;
					padding: 10px 0 6px;
				}
			}
			.hero_text p {
				font-size: 19px;
				line-height: 1.6em;
				margin: 20px 0 0;
				font-family: $ps;
				letter-spacing: 0.025em;
				@media all and (max-width: 736px) {
					font-size: 14px;
				}
			}
		}
		.down_arrow {
			position: absolute;
			bottom: 80px;
			width: 100%;
			@media all and (max-width: 736px) {
				bottom: 40px;
			}

		}

	}
	.previous_practice, .next_practice {
		position: absolute;
		top: 13px;
		@media all and (max-width: 736px) {
			top: 17px;
		}
		@media all and (max-width: 600px) {
			width: calc(50% - 15px);
		}
		a {
			color: $wheat;
			font-family: $biryani;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 10px;
			line-height: 32px;
			letter-spacing: 0.175em;
			display: block;
			text-decoration: none;
			@include transition(0.3s opacity);
			@media all and (max-width: 1024px) {
				font-size: 9px;
			}
			@media all and (max-width: 736px) {
				letter-spacing: 0.1em;
				line-height: 24px;
				white-space: nowrap;
			    max-width: 180px;
			    text-overflow: ellipsis;
			    overflow: hidden;
			    text-align: left;
			}
			@media all and (max-width: 600px) {
				max-width: 100%;
			}
			&:hover {
				opacity: 0.7;
			}

		}
		&.next_practice {
			right: 40px;
			padding: 0 30px 0 0;
			@media all and (max-width: 1024px) {
				right: 10px;
				padding: 0 20px 0 0;
			}
			@media all and (max-width: 736px) {
				padding: 0 15px 0 0;
				a {
					text-align: right;
				}
			}
			.arrow {
				position: absolute;
				right: 0;
				top: 0;
				svg {
					height: 30px;
					width: 15px;
					@media all and (max-width: 736px) {
						width: 10px;
						height: 20px;
					}

				}
			}
		}
		&.previous_practice {
			left: 40px;
			padding: 0 0 0 30px;
			@media all and (max-width: 1024px) {
				left: 10px;
				padding: 0 0 0 20px;
			}
			@media all and (max-width: 736px) {
				padding: 0 0 0 15px;
			}
			.arrow {
				position: absolute;
				left: 0;
				top: 0;
				svg {
					height: 30px;
					width: 15px;
					@media all and (max-width: 736px) {
						width: 10px;
						height: 20px;
					}
				}
			}
		}
	}
	header#secondary {
		background: $green;
		height: 54px;
		top: -70px;
		left: 0;
		right: 0;
		text-align: center;
		box-shadow: 2px 2px 12px 1px rgba(#000,0.3);
		@include transition(0.3s top);
		&.showme {
			top: 0;
		}
		.page-header {
			display: inline-block;
			color: $wheat;
			font-family: $biryani;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 17px;
			line-height: 54px;
			letter-spacing: 0.175em;
			cursor: pointer;
			@include transition(0.3s opacity);
			&:hover {
				opacity:0.7;
			}
			@media all and (max-width: 800px) { 
				font-size: 13px;
            }
            @media all and (max-width: 736px) {
            	font-size: 11px;
            }
            @media all and (max-width: 600px) {
            	display:none;
            }
		}
		#text_logo_short {
			position: absolute;
			left: 40px;
			top: 13px;
			@media all and (max-width: 800px) { 
				left: 10px;
            }
			a {
				display: inline-block;
				border: 2px solid $orange;
				border-radius: 1px;
				color: $wheat;
				font-family: $biryani;
				font-weight: 900;
				text-transform: uppercase;
				font-size: 12px;
				letter-spacing: 0.175em;
				height:28px;
				line-height: 28px;
				padding: 0 10px;
				text-decoration: none;
				@media all and (max-width: 736px) {
					font-size: 10px;
				}
				@include transition(0.3s color);
				&:hover {
					color: rgba($wheat, 0.7);
				}
			}
		}
		#primary-nav {
			text-align: left;
		    position: absolute;
		    right: 40px;
		    top: 20px;
		    @media all and (max-width: 800px) { 
            	right: 10px;
            }
			.nav-toggle-button {
                width: 22px;
                right: 0;
                .menu-label {
                    display: block;
                    font-family: $ps-soft;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 800;
                    letter-spacing: 0.25em;
                    line-height: 10px;
                    color: rgba($wheat,0.6);
                    position: absolute;
                    top: 2px;
                    left: -50px;
                    bottom: auto;
                    white-space: nowrap;
                }
                &:before, &:after, span.nav-toggle-icon {
                    height: 2px;
                    border-radius: 4px;
                    margin-bottom: 4px;
                }  
            }
            &.open .nav-toggle-button{
                top: 0;
            }
        }
	}
	.sticky_subnav {
		background: $light-green;
		position: fixed;
		height: 54px;
		top: 54px;
		left: 0;
		right: 0;
		text-align: center;
		padding: 3px 0 0;
		opacity: 0;
		z-index: -1;
		@include transition(0.3s opacity ease-in);
		@media all and (max-width: 600px) {
			.previous_practice, .next_practice {
				top: 28px;
			}
		}
		.section_header {
			display: inline-block;
			color: $green;
			font-family: $biryani;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 54px;
			letter-spacing: 0.1em;
			span {
				font-weight: 800;
				font-size: 12px;
			}
			@media all and (max-width: 736px) {
				font-size: 14px;
			}
			@media all and (max-width: 600px) {
				line-height: 2em;
			}

		}
	}
	.step_panel {
		position: relative;
		padding: 180px 0 0px;
		@media all and (max-width: 736px) {
			padding-top: 120px;
		}

		&.active {
			.sticky_subnav {
				opacity: 1;
				z-index:9998;
			}
			.step_nav {
				opacity: 1;
				z-index: 999;

			}
		}
		&:last-child {
			padding-bottom: 100px;
		}

		.step_nav {
			opacity: 0;
			position: fixed;
			top: calc(50% - 5px);
			@include transform(translateY(-50%));
			left: 40px;
			z-index: 9;
			@include transition(opacity 0.3s);
			@media all and (max-width: 1024px) {
				left: 10px;
			}
			@media all and (max-width: 736px) {
				display:none;
			}
			li {
				display: block;
				margin: 0 0 20px;
				position: relative;
				width: 40px;
				overflow: visible;
				.step_label {
					opacity:0;
					@include transition(.3s opacity);
					position: absolute;
					color: $green;
					font-family: $biryani;
					font-weight: 800;
					text-transform: uppercase;
					font-size: 12px;
					right: auto;
					background: $wheat;
					left: 35px;
					top: 0;
					height: 20px;
					padding: 0 10px;
					filter: drop-shadow(0px 2px 4px rgba(#000,0.4));
					white-space: nowrap;
					&:before {
						content:'';
						width: 0; 
						height: 0; 
						display: block;
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent; 
						border-right:6px solid $wheat; 
						position: absolute;
						left: -5px;
						top:5px;
					}
				}
				.link_to_section {
					color: $wheat;
					width: 20px;
					height: 20px;
					border: 1px solid $green;
					background: $wheat;
					border-radius: 50%;
					text-align: center;
					font-family: $biryani;
					font-weight: 800;
					text-transform: uppercase;
					font-size: 12px;
					line-height: 20px;
					cursor: pointer; 
					&:hover  + .step_label {
						opacity: 1;
					}
					&:hover {
						background: $green;
					}
				}
				&.active {
					.link_to_section {
						background: $green;
					}
				}	
			}
		}
		.step_content {
			max-width: 960px;
			margin: auto;
			@media all and (max-width: 1024px) {
				max-width: 100%;
				padding: 0 50px;
			}
			@media all and (max-width: 736px) {
				padding: 0 20px;
			}
			p, li {
				font-family: $ps;
				font-size: 22px;
				line-height: 1.5em;
				letter-spacing: 0.02em;
				@media all and (max-width: 736px) {
					font-size: 14px;
				}
			}
			h1, h2 {
				display: block;
				font-family: $biryani;
				font-weight: 900;
				font-size: 36px;
				line-height: 1.2em;
				&:before, &:after {
					content:'';
					height: 3px;
					border-radius: 4px;
					background: $green;
					width: 100%;
					display: block;
					margin: 7px 0 20px;
				}
				@media all and (max-width: 736px) {
					font-size: 22px;
				}
			}
			h2 {
				font-size: 28px;
				margin-top: 60px;
				@media all and (max-width: 736px) {
					font-size: 18px;
					margin-top: 30px;
				}
				&:before {
					display:none;
				}
				&:after {
					margin: 12px 0 20px;
				}
			}
			.intro_paragraph {
				padding: 0 0 0 150px;
				margin: 40px 0;
				position: relative;
				color: $green;
				@media all and (max-width: 736px) {
					padding-left: 75px;
					margin: 20px 0;
				}
				p {
					font-family: $rs;
					font-size: 30px;
					line-height: 1.4em;
					@media all and (max-width: 736px) {
						font-size: 18px;
					}
				}
				.icon {
					position: absolute;
					left: 0;
					width: 115px;
					height: 115px;
					border-radius: 50%;
					margin: auto;
					background: $green;
					overflow: hidden;
					@media all and (max-width: 736px) {
						width: 60px;
						height: 60px;
					}
					&:before {
						content:'';
						width: 71px;
						height: 86px;
						display: block;
						margin: 15px 0 0 28px;
						background: url('../images/sprites.svg') 0 -140px  no-repeat;
						@media all and (max-width: 736px) {
							width: 36px;
							height: 43px;
							background: url('../images/sprites.svg') 0 -70px  no-repeat;
							background-size: 114px auto;
							margin: 8px 0 0 14px;
						}
					}
				}
				&.purple {
					color: $purple;
					.icon {
						background: $purple;
						&:before {
							width: 68px;
							height: 67px;
							margin: 28px auto 0;
							background: url('../images/sprites.svg') 0 -240px  no-repeat;
							@media all and (max-width: 736px) {
								width: 34px;
								height: 34px;
								background: url('../images/sprites.svg') 0 -120px  no-repeat;
								background-size: 114px auto;
								margin: 15px auto 0;
							}
						}
					}
				}
				&.navy {
					color: $navy;
					.icon {
						background: $navy;
						&:before {
							width: 43px;
						    height: 69px;
						    margin: 25px auto 0;
							background: url('../images/sprites.svg') 0 -320px  no-repeat;
							@media all and (max-width: 736px) {
								width: 22px;
								height: 35px;
								background: url('../images/sprites.svg') 0 -160px  no-repeat;
								background-size: 114px auto;
								margin: 13px auto 0;
							}
						}
					}
				}
				&.gold {
					color: $gold;
					.icon {
						background: $gold;
						&:before {
							width: 75px;
						    height: 76px;
						    margin: 23px 0 0 24px;
							background: url('../images/sprites.svg') 0 -400px  no-repeat;
							@media all and (max-width: 736px) {
								width: 38px;
								height: 38px;
								background: url('../images/sprites.svg') 0 -200px  no-repeat;
								background-size: 114px auto;
								margin: 12px 0 0 13px;
							}
						}
					}
				}
				&.teal {
					color: $teal;
					.icon {
						background: $teal;
						&:before {
							width: 75px;
						    height: 85px;
						    margin: 15px auto 0;
							background: url('../images/sprites.svg') 0 -480px  no-repeat;
							@media all and (max-width: 736px) {
								width: 38px;
								height: 43px;
								background: url('../images/sprites.svg') 0 -240px  no-repeat;
								background-size: 114px auto;
							    margin: 8px auto 0;
							}
						}
					}
				}

			}
			.cols {
				@include display(flex);
				margin-top:50px; 
				@media all and (max-width: 1024px) {
					display: block;
					margin-top: 30px; 
				}

				.left {
					width: 49%;
					padding: 0 55px 0 0;
					@media all and (max-width: 1024px) {
						width: 100%;
						padding: 0;
					}
				

				}
				.right {
					width: 51%;
					@media all and (max-width: 1024px) {
						width: 100%;
					}
					p {
						font-size: 17px;
						@media all and (max-width: 736px) {
							font-size: 14px;
						}
						line-height: 1.4em;
					}
					ul {
						margin: 0 0 40px;
						@media all and (max-width: 736px) {
							margin: 0 0 20px;
						}
						li {
							font-size: 17px;
							@media all and (max-width: 736px) {
								font-size: 14px;
							}
							line-height: 1.4em;
							margin: 0 0 10px;
							position: relative;
							padding: 0 0 0 13px;
							&:before {
								content:'\2022';
								color: $green;
								position: absolute;
								left: 0px;
								top: 0;
							}
						}
					}
				}
				.questions {
					background: $green;
					border-radius: 3px;
					padding: 50px 50px 20px;
					@media all and (max-width: 736px) {
						padding: 25px 20px 20px 40px;
					}
					h3	{
						color: $light-green;
						font-family: $biryani;
						font-weight: 900;
						font-size: 25px;
						line-height: 1.1em;
						letter-spacing: 0.125em;
						text-transform: uppercase;
						margin: 0 0 30px;
						@media all and (max-width: 736px) {
							font-size: 18px;
							margin: 0 0 20px;
						}
					}
					ul li {
						font-family: $rs;
						font-weight: 300;
						font-size: 19px;
						line-height: 1.4em;
						color: $wheat;
						margin: 0 0 25px;
						position: relative;
						span {
							font-weight: 300 !important;
						}
						@media all and (max-width: 736px) {
							font-size: 14px;
							margin: 0 0 15px;
						}
						&:before {
							content:'>';
							color: $light-green;
							position: absolute;
							left: -18px;
							top: 0;
							font-weight: 400;
						}
						a {
							padding: 0;
							box-shadow: none;
							border-bottom: 2px solid $blue;
							@include transition(0.3s border);
							&:hover {
								border-bottom-color: $turquoise;
							}
						}
					}
				}
				.stats p {
					margin: 40px 0;
					text-align: center;
					color: $green;
					font-family: $nunito;
					font-weight: 800;
					font-size: 22px;
					line-height: 1.5em;
					letter-spacing: 0.01em;
					em {
						font-weight: 400;
						display: inline;
					}
					strong {
						display: inline;	
					}
					@media all and (max-width: 736px) {
						margin: 20px 0;
						font-size: 18px;
					}
					a {
						padding: 0;
						box-shadow: inset 0 -2px 0 $blue;
						&:hover {
							box-shadow: inset 0 -2px 0 $turquoise;
						}

					}

				}
				h4 {
					font-family: $biryani;
					font-weight: 900;
					font-size: 19px;
					line-height: 1.1em;
					letter-spacing: 0.125em;
					text-transform: uppercase;
					margin: 10px 0 18px;
					@media all and (max-width: 736px) {
						font-size: 16px;
						margin: 30px 0 10px;
					}
				}
				.btn {
					display: block;
					font-family: $biryani;
					font-weight: 900;
					font-size: 19px;
					line-height: 1.1em;
					letter-spacing: 0.125em;
					text-transform: uppercase;
					margin: 0 0 35px;
					width: 182px;
					text-align: center;
					border: 3px solid $green;
					border-radius: 2px;
					color: inherit;
					text-decoration: none;
					height: 45px;
					line-height: 45px;
					cursor: pointer;
					@include transition(background 0.3s);
					&:hover {
						background: $green;
					}
					@media all and (max-width: 736px) {
						display: inline-block;
						margin-right: 10px;
						font-size: 14px;
						width: auto;
						height: 32px;
						line-height: 32px;	
						padding: 0 20px;

					}
				}
			}
			.modal {
				display: none;
				.modal-backdrop {
					position: fixed;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					background: rgba($green,0.97);
					z-index: 9999;
				}
				.modal-container {
					position: fixed;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					z-index: 9999;
					color: $wheat;
					overflow: auto;
					.modal-content {
						position: relative;
						max-width: 960px;
						padding: 50px 0;
						margin: auto;
						overflow: auto;
						@media all and (max-width: 1000px) {
							padding: 30px 40px 0 20px;
						}
						h3 {
							color: $light-green;
							font-family: $biryani;
							font-weight: 900;
							font-size: 16px;
							line-height: 1.1em;
							letter-spacing: 0.125em;
							text-transform: uppercase;
							margin: 0 0 15px;
							@media all and (max-width: 1000px) {
								font-size: 13px;
							}
						}
						h1 {
							color: $wheat;
							font-family: $biryani;
							font-weight: 900;
							font-size: 23px;
							line-height: 1.1em;
							letter-spacing: 0.1em;
							text-transform: uppercase;
							margin: 0 0 40px;
							&:before, &:after {
								background: $navy;
								height: 2px;
								margin: 8px 0 15px;
							}
							@media all and (max-width: 1000px) {
								font-size: 16px;
								margin: 0 0 20px;
							}
						}
						h2 {
							font-family: $rs;
							font-weight: bold;
							font-size: 19px;
							line-height: 1.2em;
							margin: 35px 0 25px;
							color: $navy;
							&:after {
								display:none;
							}
							@media all and (max-width: 1000px) {
								font-size: 16px;
								margin: 10px 0;
							}
						}
						p {
							font-family: $nunito;
							font-size: 19px;
							line-height: 1.5em;
							@media all and (max-width: 1000px) {
								font-size: 14px;
							}
						}
					}
					.close-modal {
						position: fixed;
						top: 30px;
						right: 30px;
						width: 28px;
						height: 28px;
						background: url('../images/close.svg') 0 0px  no-repeat;
						cursor: pointer;
						@media all and (max-width: 1000px) {
							top: 15px;
							right: 15px;
							width: 16px;
							height: 16px;
							background-size: 100%;
						}
					}
				}

			}
		}
	}	
}
.fixed_footer_nav {
	position: fixed;
	z-index: 9998;
	bottom: 0;
	right: 0;
	.mini-btn {		
		display: block;
		float: left;
		height: 40px;
		padding: 0 30px;
		font-family: $biryani;
		font-weight: 900;
		font-size: 10px;
		line-height: 44px;
		letter-spacing: 0.175em;
		text-transform: uppercase;
		background: $turquoise;
		color: $wheat;
		text-decoration: none;
		cursor: pointer;
		&.open-bp-overview {
			color: $turquoise;
			background: $dark-gray;
			padding: 0 16px 0 20px;
			&:after {
				 content:'';
				 width: 7px;
				 height: 11px;
				 background: url('../images/sprites.svg') 0 -700px no-repeat;
				 display: inline-block;
				 margin: 0 0 0 8px;
				 position: relative;
				 bottom: -1px;
			}
		}
		@media all and (max-width: 667px) {
			height: 30px;
			line-height: 34px;
		}

	}
}
.grid-overlay {
	position: fixed;
	background: $wheat;
	bottom: -1100px;
	right: 0;
	z-index: 9999;
	box-shadow: 0px 2px 12px 1px rgba(#000,0.4);
	@include transition(0.3s bottom);
	&.open {
		bottom: 0;
		@media all and (max-width: 736px) {
		    top: 0;
		    bottom:0;
		    position:fixed;
		    overflow-y:scroll;
		    overflow-x:hidden;
		}
		@media all and (max-width: 650px) {
			left: 0px;

		}
	}
	.overlay-header {
		background: $dark-gray;
		color: $wheat;
		padding: 15px;
		.close-overlay {
			 width: 13px;
			 height: 13px;
			 background: url('../images/sprites.svg') 0 -740px no-repeat;
			 display: inline-block;
			 margin: 0 0 0 8px;
			 position: relative;
			 bottom: -2px;
			 cursor: pointer;
			 @media all and (max-width: 650px) {
			 	margin: 0;
			 }
		}
		.header {
			display: inline-block;
			color: $turquoise;
			font-family: $biryani;
			font-weight: 900;
			font-size: 12px;
			letter-spacing: 0.175em;
			text-transform: uppercase;
			line-height: 1em;
			margin-left: 20px;
			@media all and (max-width: 650px) {
				font-size: 10px;
				margin-left: 5px;
			}
		}
		.download-btn {
			float: right;
			color:#807e7c;
			font-family: $biryani;
			font-weight: 900;
			font-size: 12px;
			letter-spacing: 0.175em;
			text-transform: uppercase;
			line-height: 1em;
			margin: 0 40px 0 0;
			a {
				text-decoration: none;
				color:#807e7c;
				&:after {
					 content:'';
					 width: 10px;
					 height: 15px;
					 background: url('../images/sprites.svg') 0 -720px no-repeat;
					 display: inline-block;
					 margin: 0 0 0 15px;
					 position: relative;
					 bottom: -3px;
				}
				&:hover {
					color: $turquoise;
                        &:after {
                            background: url('../images/sprites.svg') 0 -780px no-repeat;
                        }
				}

			}
			@media all and (max-width: 650px) {
				position: absolute;
				right: 15px;
				top: 17px;
				font-size:10px;
				margin:0;
				&:after {
					margin-left: 8px;
				}
			}

		}
		
	}
	.overlay-content {
		width: 100%;
	}
	.blueprint_grid {
		box-shadow: none;
		max-width: 1000px;
		@media all and (max-width: 650px) {
			width: 100%;
			margin: 0;

		}		
		.column_container {
			.col {
				.cell {
			    	font-size: 12px;
			    }
			    .cell.header a span {
			    	font-size: 9px;
			    }
			}
			.col1 {
				min-width: 90px;
				.cell {
				    padding: 0;
				    font-family: "Catamaran",sans-serif;
				    font-weight: 900;
				    font-size: 9px;
				    letter-spacing: .05em;
				    text-transform: uppercase;
				}

			}
		}
	}
}