.page-content {
	max-width: 1000px;
	margin: auto;
	position: relative;
	padding-bottom: 100px;
	.pre-header {
		h1 {
			font-family: $nunito;
			font-weight: 400;
			font-size: 30px;
			line-height: 1.2em;
			font-style: italic;
			border-bottom: 2px solid $orange;
			padding: 0 0 10px;
			span {
				font-family: $biryani;
	            font-weight: 900;
	            text-transform: uppercase;
	            font-size: 19px;
	            letter-spacing: 0.1em;
				font-style: normal;

			}

		}
	}
	.page-header {
		h1 {
			font-size: 30px;
			border-bottom: 2px solid $orange;
			padding: 0 0 15px;
			font-family: $biryani;
            font-weight: 900;
            letter-spacing: 0.1em;
            text-transform: uppercase;
		}
	}
	.callout {
		font-family: $rs;
		font-size: 30px;
		color: $navy;
		line-height: 1.5em;
	    letter-spacing: 0.015em;
	    margin: 40px 0 50px;

	}
	h2 {
		font-family: $biryani;
		color: $turquoise;
		font-weight: 900;
		font-size: 16px;
		line-height: 1.2em;
        letter-spacing: 0.1em;
        margin: 0 0 20px;

	}
	.cols {
		@include column-count(2);
		@include column-gap(30px);
		@include column-rule(none);
		 -webkit-column-count: 2;
		 -webkit-column-gap: 30px;
		p {
			font-size: 18px;
			line-height: 1.6em;
		}

	}
	.content-container {
		margin: 50px 0 0;
		p {
			font-size: 21px;
			line-height: 1.6em;
			margin: 0 0 35px;
		}
	}
}
.get-involved {
	section {
		border-top: 1px solid $blue;
		padding: 30px 20px 20px 0;
		&:first-of-type {
			border:none;
			padding-top: 20px;
		}
		h2 {
			font-size: 18px;
			margin: 0 0 5px;
		}
		p {
			font-size: 19px;
			line-height: 1.6em;
		}
	}
}