body.home {
	.home_panel{
		width: 100%;
		min-height: calc(100vh);
		background-color: $wheat;
		position: relative;
		&#home_panel1 {
			background-image: url('../images/home_hero1.jpg');
			background-position: center 10% ;
			background-size: cover;
			background-color:#005498;
			background-blend-mode: screen;
			&:before {
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				background-color: #005498;
				opacity: 0.3;
			}
		}
		&#home_panel2 {
			background-image: url('../images/home_hero2.jpg');
			background-position: top center ;
			background-size: 100% auto;
			background-color:#005498;
			background-blend-mode: multiply;
			filter:opacity(0.95);
			&:before {
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				background-color: #005498;
				opacity: 0.6;
			}

		}
		&#home_panel4 {
			background: #3e4242;
		}
		&#home_panel5 {
			background: $turquoise;
		}
	}
	.panel_content {
		min-height: 100vh;
		padding: 40px 0 110px;
		max-width: 100%;
		margin: auto;
		@include display(flex);
		@include align-content(center);
		@include flex-wrap(wrap);
		@media all and (max-width: 736px) {
			
			padding-top: 80px;
		}
		> div {
			width: 100%;
			@include align-self(center);
		}
		.bp_intro {
			max-width: 650px;
			border: 6px solid $orange;
			background: rgba(#005498, 0.3);
			border-radius: 4px;
			padding: 40px 40px 30px;
			margin: auto;
			@media all and (max-width: 736px) {
				display: inline-block;
				padding: 30px 40px 20px;
			}
			h1 {
				color: $wheat;
				text-align: center;
				font-family: $biryani;
				font-weight: 900;
				text-transform: uppercase;
				font-size: 50px;
				letter-spacing: 0.125em;
				line-height: 1.1em;
				margin: 0;
				span {
					font-weight: 800;
					font-size: 0.35em;
					position: relative;
					top: -11px;
				}
				@media all and (max-width: 736px) {
					font-size: 30px;
				}
			}
		}
		.bp_sub_intro {
			font-family: $rs;
			font-size: 40px;
			font-weight: 400;
			margin: 30px 0 50px;
			line-height: 1.6em;
			letter-spacing: 0;
			text-align: center;
			color: $wheat;
				@media all and (max-width: 736px) {
					font-size: 24px;
				}
		}

	}
	#home_panel1 {
		.panel_content {
			@include align-content(center);
			@media all and (max-width: 736px) {
				max-width: 100%;
				padding-left: 20px;
				padding-right: 20px;
			}

		}

	}
	#home_panel2 {
		.panel_content {
			max-width: 100%;
			.down_arrow {
				@media all and (min-width: 1025px) {
					margin-top: 100px;
				}
			}
			.explainer_slider {
				position: relative;
				.left_arrow, .right_arrow {
					position: absolute;
					width: 22px;
					height: 40px;
					background: url('../images/sprites.svg') 0 -820px  no-repeat;

					left: 50px;
					top: 50%;
					@include transform(translateY(-50%));
					z-index: 999;
					cursor: pointer;
					@include transition(0.3s opacity);
					&:hover {
						opacity:0.6;
					}
					@media all and (max-width: 800px) {
						left: 10px;
					}

					&.right_arrow {
						left: auto;
						right: 50px;
						background: url('../images/sprites.svg') -40px -820px  no-repeat;
						@media all and (max-width: 800px) {
							right: 10px;
						}
					}
					&.slick-disabled {
						visibility: hidden;
					}
				}
				.slick-dots {
					text-align: center;
					position: relative;
					top: -10px;
					li {
						display: inline-block;
						margin: 0 7px;
						button {
							display: block;
							border: none;
							width: 12px;
							height: 12px;
							border-radius: 50%;
							background: #4c96bd;
							padding:0;
							text-indent: -9999px;
							overflow: hidden;
							outline: none;
							@include transition(0.3s background);
						}
						&:hover {
							button {
								background: $turquoise;
							}
						}
						&.slick-active {
							button {
								background: $wheat;
							}
						}
					}
				}
			}

			.slide {
				padding: 30px 100px;
				@media all and (max-width: 800px) {
					padding: 30px 40px;
				}
				outline: none;

				.slide-inner {
					background: $wheat;
					max-width: 1000px;
					margin: auto;
					padding: 50px 70px;
					@media all and (max-width: 800px) {
						padding: 40px 30px;
					}
					box-shadow: 1px 1px 10px 2px rgba(#000,0.3);
					@include clearfix;
					h1 {
						font-family: $biryani;
						font-weight: 900;
						font-size: 22px;
						letter-spacing: 0.05em;
						margin: 0;
						line-height: 1em;
						padding-bottom: 12px;
						border-bottom: 2px solid $orange;
						text-transform: uppercase;
						span, em {
							text-transform: none;
							font-weight: 400;
							text-decoration: none;
							letter-spacing: 0;
						}
						@media all and (max-width: 736px) {
							font-size: 16px;
						}
					}
					p {
						margin: 25px 0;
						font-family: $nunito;
						font-weight: 600;
						font-size: 16px;
						line-height: 1.6em;
						letter-spacing: 0.01em;
						@media all and (max-width: 736px) {
							font-size: 14px;
							margin: 15px 0;
						}
					}
					> blockquote {
						margin: 0;
						padding: 0 40px;
						@media all and (max-width: 480px) {
							padding: 0 20px;
						}
						p {
							color: $turquoise;
							font-family: $rs;
							font-weight: 300;
							font-size: 24px;
							line-height: 1.4em;
							margin-bottom: 0;
							strong {
								display: block;
								text-align: right;
								font-family: $biryani;
								font-weight: 900;
								font-size: 15px;
								margin: 10px 0 0;
							}
							@media all and (max-width: 736px) {
								font-size: 16px;
								strong {
									font-size: 13px;
								}
							}						
						}
					}
					img, iframe {
						width: 100%;
					}
					.partner-list {
						color: $turquoise;
						margin-top: 30px; 
						@media all and (max-width: 736px) {
							margin: 0;
						}

						ul {
							@include display(flex);
							@include flex-flow(row wrap);
							margin: 0 -20px;
							@media all and (max-width: 736px) {
								margin: 0;
							}
							li {
								width: calc(25%);
								padding: 5px 20px 0;
								border-right: 1px solid rgba($blue, 0.5);
								&:last-child {
									border:none;
								}
								@media all and (max-width: 736px) {
									padding: 8px 0 5px;
									width: 100%;
									border-right:0;
									border-bottom: 1px solid rgba($blue, 0.5);
								}
								p {
									font-family: $biryani;
									font-weight: 800;
									color: #c2c2c0;
									font-size: 8px;
									text-transform: uppercase;
									line-height: 1.4em;
									text-align: right;
									margin: 0 0 5px;
									letter-spacing: 0.05em;
									strong{
										font-size: 10px;
										text-transform: none;
										color: $turquoise;
										font-family: $biryani;
										font-weight: 900;
										letter-spacing: 0.01em;
										line-height: 2em;
									}

								}
								blockquote {
									margin: 0;
									p {
										text-transform: none;
										color: $turquoise;
										font-family: $rs;
										font-weight: 300;
										font-size: 12px;
										letter-spacing: 0.01em;
										line-height: 1.35em;
										text-align: left;
										margin-bottom: 10px;
										@media all and (max-width: 736px) {
											margin-bottom: 0;
										}

									}
								}
							}
						}
					}
					&.video {
						p:last-child {
							position:relative;
							width: 100%;
							height: 0;
							padding-bottom: 56.25%;
							iframe {
								 position: absolute;
								  top:0;
								  left: 0;
								  width: 100%;
								  height: 100%;
							}
						}

					}
				}
			}

		}
	}
@media all and (min-width: 1025px) {
	#home_panel3 {
		.panel_content {
			padding-top: 300px;
			padding-bottom: 200px;
		}
	}
	#home_panel4 {
		.panel_content {
			padding-top: 300px;
			padding-bottom: 150px;
		}		
	}
}
	#home_panel3, #home_panel4 { 
		@media all and (max-width: 1024px) {
			.panel_content {
				padding-top: 80px;
			}
		}
		.blueprint_principles, .blueprint_steps {
			padding: 0 100px;
			@media all and (max-width: 800px) {
				padding: 0 40px;
			}
			@media all and (max-width: 600px) {
				padding: 0 40px 0 20px;
			}
			&.blueprint_steps {
				padding: 0 20px 30px;
			}
			text-align: center;
			h1 {
				display: inline-block;
				font-family: $biryani;
				font-weight: 900;
				font-size: 32px;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				border: 4px solid $turquoise;
				margin: 0;
				line-height: 1em;
				padding: 22px 30px 8px;
						@media all and (max-width: 736px) {
							font-size: 20px;
						}
			}
			> p, .top p {
				font-size: 24px;
				font-weight: 400;
				line-height: 1.4em;
				letter-spacing: 0.01em;
				margin: 30px auto 50px;
				max-width: 900px;
				@media all and (max-width: 1024px) {
					font-size: 18px;
				}

			}
			@media all and (min-width: 1025px) {
				.top {
					position: absolute;
					top: 110px;
					width: 100%;
					left: 0;
					p {
						max-width: 1260px;
						padding: 0 20px;
					}
				}
			}
			ul.principals {
				@include display(flex);
				@media all and (max-width: 800px) {
					@include flex-wrap(wrap);
					@include justify-content(center);
				}
				margin: 80px 0;
				@media all and (max-width: 736px) {
					margin: 40px 0;
				}
				li {
					width: 20%;
					@media all and (max-width: 800px) {
						width: 33.33%;
						margin: 0 0 20px 0;
					}
					@media all and (max-width: 736px) {
						width: 20%;
					}
					@media all and (max-width: 600px) {
						width: 100%;

					}
					a {
						color: inherit;
						text-decoration: none;
						@media all and (max-width: 600px) {
							@include display(flex);
						}
					}
					h2 {
						text-transform: none;
						font-weight: 700;
						color: $green;
						font-size: 19px;
						letter-spacing: 0;
						margin: 25px 0 0;
						@media all and (max-width: 800px) {
							margin: 15px 0 0;
						}
						@media all and (max-width: 736px) {
							font-size: 16px;
							line-height:1.4em;
						}
						@media all and (max-width: 600px) {
							text-align:left;
						}
						span {
							display: block;
							font-family: $catamaran;
							font-size: 13px;
							text-transform: uppercase;
							line-height: 1.8em;
							letter-spacing: 0.05em;
							font-weight: 900;
							color: $dark-gray;
						}
					}
					.icon {
						width: 115px;
						height: 115px;
						border-radius: 50%;
						margin: auto;
						background: $green;
						overflow: hidden;
						@media all and (max-width: 736px) {
							width: 60px;
							height: 60px;
						}
						@media all and (max-width: 600px) {
							margin: 0 20px 0 0;
						}
						&:before {
							content:'';
							width: 71px;
							height: 86px;
							display: block;
							margin: 15px 0 0 28px;
							background: url('../images/sprites.svg') 0 -140px  no-repeat;
							@media all and (max-width: 736px) {
								width: 36px;
								height: 43px;
								background: url('../images/sprites.svg') 0 -70px  no-repeat;
								background-size: 114px auto;
								margin: 8px 0 0 14px;
							}
						}
					}
					&.purple {
						h2  {
							color: $purple;
						}
						.icon {
							background: $purple;
							&:before {
								width: 68px;
								height: 67px;
								margin: 28px auto 0;
								background: url('../images/sprites.svg') 0 -240px  no-repeat;
								@media all and (max-width: 736px) {
									width: 34px;
									height: 34px;
									background: url('../images/sprites.svg') 0 -120px  no-repeat;
									background-size: 114px auto;
									margin: 15px auto 0;
								}
							}
						}
					}
					&.navy {
						h2  {
							color: $navy;
						}
						.icon {
							background: $navy;
							&:before {
								width: 43px;
							    height: 69px;
							    margin: 25px auto 0;
								background: url('../images/sprites.svg') 0 -320px  no-repeat;
								@media all and (max-width: 736px) {
									width: 22px;
									height: 35px;
									background: url('../images/sprites.svg') 0 -160px  no-repeat;
									background-size: 114px auto;
									margin: 13px auto 0;
								}
							}
						}
					}
					&.gold {
						h2  {
							color: $gold;
						}
						.icon {
							background: $gold;
							&:before {
								width: 75px;
							    height: 76px;
							    margin: 23px 0 0 24px;
								background: url('../images/sprites.svg') 0 -400px  no-repeat;
								@media all and (max-width: 736px) {
									width: 38px;
									height: 38px;
									background: url('../images/sprites.svg') 0 -200px  no-repeat;
									background-size: 114px auto;
									margin: 12px 0 0 13px;
								}
							}
						}
					}
					&.teal {
						h2  {
							color: $teal;
						}
						.icon {
							background: $teal;
							&:before {
								width: 75px;
							    height: 85px;
							    margin: 15px auto 0;
								background: url('../images/sprites.svg') 0 -480px  no-repeat;
								@media all and (max-width: 736px) {
									width: 38px;
									height: 43px;
									background: url('../images/sprites.svg') 0 -240px  no-repeat;
									background-size: 114px auto;
								    margin: 8px auto 0;
								}
							}
						}
					}
				}
			}
		}
		.down_arrow {
			margin: 30px 0 0;
			@include transition(0.3s opacity);
			&:hover {
				opacity:0.6;
			}
			@media all and (min-width: 1025px) {
				margin: 100px 0 0;
			}
		}
		.down_arrow, .right_arrow {
			svg * {
				stroke: $turquoise;
			}
		}
		.right_arrow {
			@include transition(0.3s opacity);
			position: absolute;
			top: calc(50% + 30px);
			@include transform(translateY(-50%));
			z-index: 999;
			cursor: pointer;
			right: 50px;
			&:hover {
				opacity:0.6;
			}
			@media all and (max-width: 800px) {
				right: 10px;
			}

		}
					
	}
	#home_panel4 { 
		background: #3e4242;
		@media all and (max-width: 600px) {

		}
		.top p {
			max-width: 940px;
		}
		h1,  p {
			color: $wheat;
			a {
				box-shadow: inset 0 -.5em 0 $turquoise;						
			}
		}
		ul.steps {
			max-width: 780px;
			margin: auto;
			li {
				border-bottom: 1px solid $turquoise;
				padding: 12px 0;
				&:first-child  {
					border-top: 1px solid $turquoise;
				}
				a {
					@include display(flex);
					@include align-items(center);
					@include justify-content(space-between);
					text-decoration: none;
					color: $wheat;
					@media all and (max-width: 600px) {
						display: block;
						padding: 0 20px 0 30px;
						position: relative;
					}
					&:after {
						content: '';
						width: 10px;
						height: 20px;
						background: url('../images/sprites.svg') 0 -640px  no-repeat;
						margin: 0 0 0 20px;
						@media all and (max-width: 600px) {
							position: absolute;
							right: 0;
							top: 45%;
							@include transform(translateY(-50%));
						}
					}
					&:hover:after {
						@include transition(0.3s opacity)
						opacity:0.6;

					}
					h2 {
		        		font-family: $biryani;
		        		line-height: 1.1em;
		        		font-weight: 900;
						font-size: 23px;
						text-transform: uppercase;
						letter-spacing: 0.1em;
						margin: 7px 0 0;
						white-space: nowrap;
						width: 280px;
						text-align: left;
						@media all and (max-width: 736px) {
							font-size: 18px;
							width: 200px;
							white-space: normal;
						}
						@media all and (max-width: 600px) {
							width: auto;
						}

						span {
							color: $turquoise;
							font-size: 15px;
							font-weight: 700;
						}
					}
					p {
						width: calc(100% - 380px);
						margin: 0;
						font-weight:400;
						font-size: 13px;
						line-height: 1.6em;
						text-align: left;
						@media all and (max-width: 736px) {
							width: calc(100% - 300px);
						}
						@media all and (max-width: 600px) {
							width: auto;
						}
					}
				}

				@for $i from 1 through 10 {
			   		&:nth-child(#{$i}) {
			      		a:before {
			        		content: '#{$i}';
			        		display: block;
			        		color: #3e4242;
			        		font-family: $biryani;
			        		font-size: 13px;
			        		line-height: 21px;
			        		font-weight: 900;
			        		background: $orange;
			        		text-align: center;
			        		height: 19px !important;
			        		width: 19px !important;
			        		border-radius: 50%;
			        		margin: 0 10px 0 0;
			        		@include flex-shrink(none);

							@media all and (max-width: 600px) {
								position: absolute;
								left: 0;
								top: 45%;
								@include transform(translateY(-50%));
							}

			      		}
			    	}
			  	}

			}
		}
	}
	#home_panel5 { 
		.panel_content {
			padding-top: 80px;
			@media all and (min-width: 1025px) {
				padding-top: 200px;
			}
		}
		.blueprint_overview {
			padding: 0 30px;
			text-align: center;
			overflow: hidden;
			@media all and (max-width: 800px) {
				padding: 0 15px;
			}
			@media all and (min-width: 1025px) {
				.top {
					position: absolute;
					top: 110px;
					width: 100%;
					left: 0;

				}
			}
			h1 {
				display: inline-block;
				color: $wheat;
				font-family: $biryani;
				font-weight: 900;
				font-size: 32px;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				border: 4px solid $navy;
				margin: 0 0 55px;
				line-height: 1em;
				padding: 22px 30px 8px;
				@media all and (max-width: 736px) {
					font-size: 20px;
				}

			}
		}
	}

}
.blueprint_grid {
	background: $wheat;
	padding: 40px;
	@media all and (max-width: 800px) {
		padding: 15px;
	}
	@media all and (max-width: 650px) {
		margin: 0 -15px;
			overflow-x: auto;
			overflow-y: hidden;
	}
	box-shadow: 0px 2px 12px 1px rgba(#000,0.4);
	.column_container {
		@media all and (max-width: 650px) {
			width: 650px;
		}
		@include display(flex);
		.col {
			width: 18%;
			text-align: left;
			.cell {
				width: 100%;
				@include display(flex);
				@include align-items(center);
				height: 80px;
				border-bottom: 2px solid rgba($dark-gray, 0.25);
				font-family: $ps;
				font-size: 14px;
				line-height: 1.2em;
				letter-spacing: 0;
				@media all and (max-width: 800px) {
					font-size: 13px;
				}
				@media all and (max-width: 736px) {
					font-size: 12px;
				}

				a {
					padding: 0 10px;
					@include display(flex);
					@include align-items(center);
					height: 80px;
					color: inherit;
					text-align: center;
					text-decoration: none;
					width: 100%;
					@include transition(.3s background, .3s color);
					span.step-name {
						width: 100%;
						display: block;
						text-align: center;
						@include align-self(center);
					}
				}
				&.header {
					height: 70px;
					display: block;
					@media all and (max-width: 800px) {
						height: 100px;
						@include display(flex);
						@include align-items(bottom);
					}
					a {
						height: 60px;
						padding: 0;
						@include justify-content(center);
						@media all and (max-width: 800px) {
							display: block;
							height: auto;
						}
						span {
							display: block;
							color: $dark-gray;
							font-family: $catamaran;
							font-weight: 900;
							font-size: 11px;
							letter-spacing: 0.05em;
							text-transform: uppercase;
							line-height: 15px;
							@media all and (max-width: 736px) {
								font-size: 10px;
								line-height: 13px;
							}


						}
						.title {
							white-space: nowrap;
							line-height: 15px;
							@media all and (max-width: 800px) {
								white-space: normal;
							}
						}
						.icon-inner {
							display: block;
							width: 40px;
							height: 40px;
							border-radius: 50%;
							white-space: nowrap;
							margin: 0 8px 0 0;
							@media all and (max-width: 800px) {
								margin: 0 auto 5px;
							}
						}
					}

				}
			}
			&.green {
				color: $green;
				.cell:not(.header) {
					a:hover {
						background: $green;
						color: $wheat;
					}
				}
				.icon-inner {
					background: $green;
					&:before {
						content: '';
					    width: 26px;
					    height: 35px;
					    display: block;
					    margin: 0px 0 0 9px;
					    background: url(../images/sprites.svg) 0 -45px no-repeat;
					    background-size: 80px auto;
					    position: relative;
					    top: 1px;
					}
				}
			}
			&.purple {
				color: $purple;
				.cell:not(.header) {
					a:hover {
						background: $purple;
						color: $wheat;
					}
				}
				.icon-inner {
					background: $purple;
					&:before {
						content: '';
					    width: 24px;
					    height: 30px;
					    display: block;
					    margin: 0px auto 0;
					    background: url(../images/sprites.svg) 0 -80px no-repeat;
					    background-size: 80px auto;
					    position: relative;
					    top: 6px;
					}
				}
			}
			&.navy {
				color: $navy;
				.cell:not(.header) {
					a:hover {
						background: $navy;
						color: $wheat;
					}
				}
				.icon-inner {
					background: $navy;
					&:before {
						content: '';
					    width: 16px;
					    height: 27px;
					    display: block;
					    margin: 0px auto 0;
					    background: url(../images/sprites.svg) 0 -110px no-repeat;
					    background-size: 80px auto;
					    position: relative;
					    top: 6px;
					}
				}
			}
			&.gold {
				color: $gold;
				.cell:not(.header) {
					a {
						padding: 0 6px;
					}
					a:hover {
						background: $gold;
						color: $wheat;
					}
				}
				.icon-inner {
					background: $gold;
					&:before {
						content: '';
					    width: 30px;
					    height: 28px;
					    display: block;
					    margin: 0 0 0 8px;
					    background: url(../images/sprites.svg) 0 -139px no-repeat;
					    background-size: 80px auto;
					    position: relative;
					    top: 7px;
					}
				}
			}
			&.teal {
				color: $teal;
				.cell:not(.header) {
					a:hover {
						background: $teal;
						color: $wheat;
					}
				}
				.icon-inner {
					background: $teal;
					&:before {
						content: '';
					    width: 30px;
					    width: 30px;
					    height: 32px;
					    display: block;
					    margin: 0 0 0 7px;
					    background: url(../images/sprites.svg) 0 -168px no-repeat;
					    background-size: 80px auto;
					    position: relative;
					    top: 5px;
					}
				}
			}
		}
		.col1 {
			width: 10%;
			min-width: 120px;
			white-space: nowrap;
			@media all and (max-width: 800px) {
				min-width: 97px;
			}

			.cell {
				padding: 0;
				font-family: $catamaran;
				font-weight: 900;
				font-size: 11px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				@media all and (max-width: 800px) {
					font-size: 10px;
				}
				span {
					display: block;
					background: $dark-gray;
					color: $wheat;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					text-align: center;
					font-weight: 700;
					margin-right: 6px;
					line-height: 18px;

				}
			}
		}
	}

}
.down_arrow {
	position: absolute;
	bottom: 40px;
	left: 0;
	@include transition(0.3s opacity);
	&:hover {
		opacity:0.6;
	}

	text-align: center;
	.link_to_section {
		display: inline-block;
		cursor: pointer;
		svg, img {
			  @include animation(bounce 2s infinite);

		}
	}
}
p a, body:not(.home) ul:not(.no_shadow) li:not(.menu-item) a { 
	color: inherit;
	text-decoration: none;
	font-weight: 800;
	padding: 0 2px;
	box-shadow: inset 0 -.5em 0 $blue;
	@include transition(0.3s box-shadow);
	&:hover {
		box-shadow: inset 0 -.5em 0 $turquoise;
	}						
}

.scene_element--fadeinright {
    animation-duration: .3s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
	animation-name: fadeInRight;
}
.scene_element--fadeinleft {
    animation-duration: .3s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
	animation-name: fadeInLeft;
}
a {
	outline: none;
}
